/* =============================================================== */
/*                  Default                                        */
/* =============================================================== */
/* ----- Desktop ----- */

/* Public */
body{background: #EBEDEF;}
.font-white{color: #FBF9F9;}
.font-mono200{color: #D7DBDF;}
.font-mono300{color: #C3C8D0;}
.font-mono500{color: #9BA4B0;}
.font-mono600{color: #7F8791;}
.font-mono700{color: #636972;}
.font-orange300{color: #FFAB66}
.font-orange500{color: #FF7300}
.font-orange700{color: #994500}
.font-navy500{color: #133ED8;}
.bg-white{background-color: #FBF9F9 !important;}
.bg-mono100{background-color: #EBEDEF;}
.bg-mono200{background-color: #D7DBDF;}
.bg-mono600{background-color: #7F8791;}
.bg-navy100{background-color: #D0D8F7;}
.bg-navy500{background-color: #133ED8;}
.bg-blue600{background-color: #0262CC;}
.list-style-none{margin: 0;padding: 0;list-style-type: none;}

/* Text */
@font-face{font-family: "Sequel-Sans-Bold-Body";src: url(../fonts/Sequel-Sans-Bold-Body.ttf) format("truetype");}
@font-face{font-family: "Sequel-Sans-Book-Body";src: url(../fonts/Sequel-Sans-Book-Body.ttf) format("truetype");}
@font-face{font-family: "Sequel-Sans-Light-Body";src: url(../fonts/Sequel-Sans-Light-Body.ttf) format("truetype");}
@font-face{font-family: "Sequel-Sans-Roman-Body";src: url(../fonts/Sequel-Sans-Roman-Body.ttf) format("truetype");}
@font-face{font-family: "SourceCodeVariable-Roman";src: url(../fonts/SourceCodeVariable-Roman.otf) format("opentype");}
@font-face{font-family: "SourceSerifVariable-Roman";src: url(../fonts/SourceSerifVariable-Roman.otf) format("opentype");}

.Sequel-Sans-Bold-Body{font-family: "Sequel-Sans-Bold-Body";}
.Sequel-Sans-Book-Body{font-family: "Sequel-Sans-Book-Body";}
.Sequel-Sans-Light-Body{font-family: "Sequel-Sans-Light-Body";}
.Sequel-Sans-Roman-Body{font-family: "Sequel-Sans-Roman-Body";}
.SourceCodeVariable-Roman{font-family: "SourceCodeVariable-Roman";}
.SourceSerifVariable-Roman{font-family: "SourceSerifVariable-Roman";font-weight: 300;}
.SourceSerifVariable-SemiBold{font-family: "SourceSerifVariable-Roman";font-weight: 600;}
.SourceSerifVariable-Medium{font-family: "SourceSerifVariable-Roman";font-weight: 500;}
.SourceSerifVariable-Regular{font-family: "SourceSerifVariable-Roman";font-weight: 400;}



.Decorative-Headline{font-family: "SourceSerifVariable-Roman";font-weight: 600;font-size: 5vw;}
.Decorative-Headline-2{font-family: "SourceSerifVariable-Roman";font-weight: 400;font-size: 5vw;}
.Headline-Hero{font-family: "SourceSerifVariable-Roman";font-weight: 600;font-size: 4.6vw;}
.Headline-BoldXL{font-family: "SourceSerifVariable-Roman";font-weight: 600;font-size: 3.6vw;}
.Headline-ExtraLarge{font-family: "SourceSerifVariable-Roman";font-weight: 400;font-size: 3.4vw;}
.Subtitle-Hero-Decorative{font-family: "SourceSerifVariable-Roman";font-weight: 300;font-size: 3vw;}
.Subtitle-Hero{font-family: "SourceSerifVariable-Roman";font-weight: 600;font-size: 2.2vw;}
.Subtitle{font-family: "SourceSerifVariable-Roman";font-weight: 500;font-size: 2.1vw;}
.Body-LargeDecorative{font-family: "SourceSerifVariable-Roman";font-weight: 300;font-size: 1.6vw;}
.Body-Large{font-family: "Sequel-Sans-Roman-Body";font-size: 1.4vw;}
.Body-BoldLarge{font-family: "Sequel-Sans-Roman-Body";font-size: 1.75vw;}
h3.font-orange500.Body-BoldLarge{padding: 1vh 1vw;border: 0.15vw solid #FF7300;border-radius: 0.5vw;}
h3.font-orange700.Body-BoldLarge{padding: 1vh 1vw;border: 0.15vw solid #994500;border-radius: 0.5vw;}
.Body-Text{font-family: "Sequel-Sans-Light-Body";font-size: 1.2vw;}
h6.font-mono700.Body-Text:after,h6.font-white.Body-Text:after{content: '';display: block;position: absolute;bottom: 0;left: 0;width: 100%;height: 0.1vh;background-color: #636972;}
.Body-TextBold{font-family: "Sequel-Sans-Roman-Body";font-size: 1.2vw;}
.Caption{}
.Caption-Bold{}










.font-96{font-size: 96px;}
.font-88{font-size: 88px;}
.font-72{font-size: 72px;}
.font-64{font-size: 64px;}
.font-56{font-size: 56px;}
.font-48{font-size: 48px;}
.font-40{font-size: 40px;}
.font-32{font-size: 32px;}
.font-24{font-size: 24px;}
.font-16{font-size: 16px;}
.font-6_3vw{font-size: 6.3vw;}
.font-6_3vw{font-size: 6.3vw;}
.font-5_8vw{font-size: 5.8vw;}
.font-4_7vw{font-size: 4.7vw;}
.font-4_2vw{font-size: 4.2vw;}
.font-3_7vw{font-size: 3.7vw;}
.font-3_2vw{font-size: 3.2vw;}
.font-2_6vw{font-size: 2.6vw;}
.font-2_1vw{font-size: 2.1vw;}
.font-2_1vw{font-size: 2.1vw;}
.font-2_1vw{font-size: 2.1vw;}
.font-1_6vw{font-size: 1.6vw;}
.font-1_6vw{font-size: 1.6vw;}
.font-1vw{font-size: 1vw;}
.font-1vw{font-size: 1vw;}
h1,h2,h3,h4,h5,h6{margin-bottom: 0;color: #1A1B1C;}
p,a,label,th,td,li,input,textarea,select{margin-bottom: 0;color: #1A1B1C;}
a,a:hover,a[data-toggle="collapse"]{outline: none;color:#1A1B1C;text-decoration: none !important;cursor: pointer;transition: all .5s;}
b,strong{}
i{}
hr{margin: 2vh 0 !important;height: 0.2vh !important;opacity: 1 !important;}
form input::-webkit-outer-spin-button,form input::-webkit-inner-spin-button{-webkit-appearance: none;margin: 0;}
form input[type=number]{-webkit-appearance: textfield;-moz-appearance: textfield;appearance: textfield;}
.form-control:focus,.form-select:focus{box-shadow: unset;}

/* Position */
.boxc{position: absolute;margin: 0 auto;top: 50%;transform: translateY(-50%);left: 0;right: 0;}
.boxl{position: absolute;top: 50%;transform: translateY(-50%);left: 0;}
.boxr{position: absolute;top: 50%;transform: translateY(-50%);right: 0;}
.z-1{z-index: 1;}
.z-2{z-index: 2;}
.z-3{z-index: 3;}
.z-4{z-index: 4;}
.pb-1vh{padding-bottom: 1vh;}
.pb-2vh{padding-bottom: 2vh;}
.pb-3vh{padding-bottom: 3vh;}
.pb-4vh{padding-bottom: 4vh;}
.pb-5vh{padding-bottom: 5vh;}
.m-5vwh{margin: 5vh 5vw;}
.mb-1vh{margin-bottom: 1vh;}
.mb-2vh{margin-bottom: 2vh;}
.mb-3vh{margin-bottom: 3vh;}
.mb-4vh{margin-bottom: 4vh;}
.mb-5vh{margin-bottom: 5vh;}
.mb-10vh{margin-bottom: 10vh;}
.mb-15vh{margin-bottom: 15vh;}
.objectfit-cover{object-fit: cover;}

/* Ornament */
.ornt{
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 0.3vw;
}
.ornt.blue300s{
  width: 23vw;
  height: 32.5vh;
  border-top-left-radius: 2vw;
  border-bottom-left-radius: 2vw;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #67AFFF;
  border: 0.15vw solid #67AFFF;
}
.ornt.blue400s{
  background-color: #3595FF;
  border: 0.15vw solid #3595FF;
}
.ornt.blue600{
  background-color: transparent;
  border: 0.15vw solid #0262CC;
}
.ornt.navy100s{
  width: 3.8vw;
  height: 3.8vw;
  border-radius: 0.5vw;
  background-color: #D0D8F7;
  border: 0.15vw solid #D0D8F7;
}
.ornt.navy200s{
  background-color: #A1B2EF;
  border: 0.15vw solid #A1B2EF;
}
.ornt.navy300s{
  background-color: #718BE8;
  border: 0.15vw solid #718BE8;
}
.ornt.navy400s{
  background-color: #4265E0;
  border: 0.15vw solid #4265E0;
}
.ornt.navy500s{
  width: 14vw;
  height: 14vw;
  border-radius: 2vw;
  background-color: #133ED8;
  border: 0.15vw solid #133ED8;
}
.ornt.navy600s{
  background-color: #0F32AD;
  border: 0.15vw solid #0F32AD;
}
.ornt.navy700{
  width: 3.5vw;
  height: 3.5vw;
  border-radius: 0.5vw;
  border: 0.15vw solid #0B2582;
}
.ornt.orange200{
  width: 2.2vw;
  height: 2.2vw;
  background-color: transparent;
  border: 0.15vw solid #FFC799;
}
.ornt.orange300{
  width: 3.5vw;
  height: 3.5vw;
  background-color: transparent;
  border: 0.15vw solid #FFAB66;
}
.ornt.orange400{
  background-color: transparent;
  border: 0.15vw solid #FF8F33;
}
.ornt.orange500s{
  width: 2vw;
  height: 2vw;
  background-color: #FF7300;
  border: 0.15vw solid #FF7300;
}
.ornt.orange500{
  background-color: transparent;
  border: 0.15vw solid #FF7300;
}
.ornt.orange600s{
  background-color: #CC5C00;
  border: 0.15vw solid #CC5C00;
}

/* Component */
.compArrow{}
.compArrow .wrap{
  margin: 0 0.5vw;
  width: 5vw;
  height: 5vw;
  border-radius: 50vw;
  cursor: pointer;
  background-color: #133ED8;
}
.compArrow .wrap img{
  width: 3vw;
}
.compArrow .wrap .left{}
.compArrow .wrap .right{}

.compDots{}
.compDots span{
  display: inline-block;
  margin-right: 0.5vw;
  width: 0.8vw;
  height: 0.8vw;
  border-radius: 50vw;
  background-color: #C3C8D0;
}
.compDots span.active{
  width: 47vw;
  background-color: #9BA4B0;
}
/* ----- End Desktop ----- */
/* ----- Mobile ----- */
@media screen and (max-width: 846px){
  body{
    display: none;
  }
}
/* ----- End Mobile ----- */
/* =============================================================== */
/*                  End Default                                    */
/* =============================================================== */


/* =============================================================== */
/*                  Section Navigation                             */
/* =============================================================== */
/* ----- Desktop ----- */
#navigation{
  position: fixed;
  z-index: 99;
  padding: 9vh 6.5vw 9vh 7.5vw;
  top: 0;
  left: 0;
  transition: all .3s;
}
#navigation.change{
  padding: 4vh 6.5vw 3vh 7.5vw;
  background-color: #081956;
  transition: all .3s;
}
#navigation .wrapper{}
#navigation .wrapper .logo{
  transition: all .3s;
}
#navigation.change .wrapper .logo{
  top: 35%;
  transition: all .3s;
}
#navigation .wrapper .logo .image{
  width: 11.5vw;
  transition: all .3s;
}
#navigation.change .wrapper .logo .image{
  width: 6.5vw;
  transition: all .3s;
}
#navigation .wrapper .menu{
  float: right;
}
#navigation .wrapper .menu ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#navigation .wrapper .menu ul li{
  display: inline-block;
}
#navigation .wrapper .menu ul li a{
  display: block;
  margin: 0 0.8vw;
  padding: 1vh 1vw;
  font-family: "Sequel-Sans-Roman-Body";
  font-size: 1.2vw;
  border-radius: 0.5vw;
  color: #FBF9F9;
}
#navigation .wrapper .menu ul li.active a,
#navigation .wrapper .menu ul li a:hover{
  color: #133ED8;
  background-color: #D9D9D9;
}
.marquee{
  position: fixed;
  z-index: 99;
  bottom: 0;
  left: 0;
  width: 100vw;
  max-width: 100%;
  height: 5.5vh;
  overflow-x: hidden;
  background-color: #EBEDEF;
}
.track{
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 15s linear infinite;
}
@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}
.marquee p{
  display: inline-block;
  vertical-align: middle;
  margin: 1vh 0 0.4vh;
  color: #133ED8;
}
.marquee p::after{
  content: '';
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin: -0.6vh 1vw 0;
  width: 1.2vw;
  height: 1.2vw;
  background-color: #FF7300;
  border-radius: 50vw;
}
/* ----- End Desktop ----- */
/* ----- Mobile ----- */
@media screen and (max-width: 846px){}
/* ----- End Mobile ----- */
/* =============================================================== */
/*                  End Section Navigation                         */
/* =============================================================== */





/* =============================================================== */
/*                  Section Footer                                 */
/* =============================================================== */
/* ----- Desktop ----- */
#footer{}
#footer .wrapper{}
#footer .wrapper hr{
  width: 87%;
}
#footer .wrapper .gotop{
  top: -5vh;
  width: 5vw;
  height: 5vw;
  border-radius: 50vw;
  cursor: pointer;
}
#footer .wrapper .gotop .icon{
  width: 2vw;
}
#footer .wrapper .logo{
  top: 8vh;
  left: 6.5vw;
}
#footer .wrapper .logo .image{
  width: 16vw;
}
#footer .wrapper .information{
  top: 10vh;
  right: 6.5vw;
  width: 32vw;
  height: 10vw;
  text-align: right;
}
#footer .wrapper .information h2{
  font-size: 3.5vw;
}
#footer .wrapper .information .socmed{}
#footer .wrapper .information .socmed .icon{
  margin-left: 1vw;
  height: 4vh;
}
/* ----- End Desktop ----- */
/* ----- Mobile ----- */
@media screen and (max-width: 846px){}
/* ----- End Mobile ----- */
/* =============================================================== */
/*                  End Section Footer                             */
/* =============================================================== */





/* =============================================================== */
/*                  Section Header                                 */
/* =============================================================== */
/* ----- Desktop ----- */
#header{}
#header .wrapper{}
#header .wrapper .ornt{}
#header .wrapper .ornt.blue300s{
  top: 35vh;
  right: 0;
}
#header .wrapper .ornt.navy500s{
  top: 58.5vh;
  left: 58.6vw;
}
#header .wrapper .ornt.navy100s{
  top: 34vh;
  left: 58.3vw;
}
#header .wrapper .ornt.orange300{
  top: 26vh;
  left: 93vw;
}
#header .wrapper .ornt.orange500s{
  top: 33vh;
  left: 91vw;
}
#header .wrapper .ornt.orange200{
  top: 67vh;
  left: 57.5vw;
}
#header .wrapper .layer-01{
  top: 53%;
  left: 6.5vw;
  width: 47vw;
}
#header .wrapper .layer-01 h1{}
#header .wrapper .layer-01 ul{}
#header .wrapper .layer-01 ul li{
  margin-right: 1vw;
  padding-right: 1vw;
}
#header .wrapper .layer-01 ul li::after{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 0.1vw;
  height: 100%;
  background-color: #FBF9F9;
}
#header .wrapper .layer-01 ul li:last-child:after{
  display: none;
}
#header .wrapper .ornament-01{
  top: 52%;
  width: 40vw;
}
#header .wrapper .godown{
  bottom: 5vh;
  left: 6.5vw;
  width: 5vw;
  height: 5vw;
  border-radius: 50vw;
  cursor: pointer;
  background-color: #133ED8;
}
#header .wrapper .godown .icon{
  width: 2vw;
}
/* ----- End Desktop ----- */
/* ----- Mobile ----- */
@media screen and (max-width: 846px){}
/* ----- End Mobile ----- */
/* =============================================================== */
/*                  End Section Header                             */
/* =============================================================== */





/* =============================================================== */
/*                  Section Statement                              */
/* =============================================================== */
/* ----- Desktop ----- */
#chair-statement{}
#chair-statement .wrapper{
  height: 130vh;
}
#chair-statement .wrapper .ornt.navy200s{
  top: 13vh;
  left: -2vw;
  width: 6vw;
  height: 6vw;
}
#chair-statement .wrapper .ornt.orange200{
  top: 6vh;
  left: 75vw;
  width: 5vw;
  height: 5vw;
  border: 0.15vw solid #FFC799;
}
#chair-statement .wrapper .ornt.blue600{
  left: 80vw;
  width: 2.8vw;
  height: 2.8vw;
  border: 0.15vw solid #0262CC;
}
#chair-statement .wrapper .layer-01{
  left: 6.5vw;
  width: 29vw;
  height: 85vh;
  overflow: hidden;
}
#chair-statement .wrapper .layer-01 .icon{
  width: 17vw;
}
#chair-statement .wrapper .layer-01 .image{
  margin: 0 auto;
  width: 86%;
}
#chair-statement .wrapper .layer-01 .ornt.blue400s{
  margin: 0 auto;
  padding: 3vh 0;
  height: auto;
  border-radius: 2vw;
}
#chair-statement .wrapper .layer-01 .ornt.blue400s h3{}
#chair-statement .wrapper .layer-01 .ornt.blue400s p{}
#chair-statement .wrapper .ornt.navy600s{
  padding: 14vh 5vw 15vh 4vw;
  bottom: -5vh;
  right: 0;
  width: 53vw;
  height: 57vh;
  border-top-left-radius: 2vw;
  border-bottom-left-radius: 2vw;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#chair-statement .wrapper .ornt.navy600s p{}
#chair-statement .wrapper .layer-03{
  top: 26vh;
  right: 6.5vw;
  width: 50vw;
  height: 60vh;
  border-radius: 2vw;
  overflow: hidden;
}
#chair-statement .wrapper .layer-03 .chair-video{}
/* ----- End Desktop ----- */
/* ----- Mobile ----- */
@media screen and (max-width: 846px){}
/* ----- End Mobile ----- */
/* =============================================================== */
/*                  End Section Statement                          */
/* =============================================================== */





/* =============================================================== */
/*                  Section Board                                  */
/* =============================================================== */
/* ----- Desktop ----- */
#board{}
#board .wrapper{}
#board .wrapper .background{
  object-fit: cover;
}
#board .wrapper .layer-01{
  top: 53%;
  right: 5.5vw;
  width: 44.5vw;
}
#board .wrapper .layer-01 h2{}
#board .wrapper .layer-01 h3{
  margin-bottom: 4vh;
}
#board .wrapper .layer-01 a{
  margin: 1vh 0.2vw;
  padding: 1vh 1vw;
  border-radius: 0.5vw;
  background-color: #4265E0;
  cursor: unset;
}
#board .wrapper .layer-01 a:hover{
  color: #133ED8;
  background-color: #D9D9D9;
}
/* ----- End Desktop ----- */
/* ----- Mobile ----- */
@media screen and (max-width: 846px){}
/* ----- End Mobile ----- */
/* =============================================================== */
/*                  End Section Board                              */
/* =============================================================== */





/* =============================================================== */
/*                  Section Strengths                              */
/* =============================================================== */
/* ----- Desktop ----- */
#strengths{}
#strengths .wrapper{
  height: 120vh;
}
#strengths .wrapper .ornt.orange500{
  top: 17vh;
  left: 92vw;
  width: 3.5vw;
  height: 3.5vw;
  border-radius: 0.7vw;
  border: 0.15vw solid #FF7300;
}
#strengths .wrapper .ornt.navy400s{
  top: 23.5vh;
  left: 90vw;
  width: 2vw;
  height: 2vw;
  border-radius: 0.5vw;
}
#strengths .wrapper .background-strengths{}
#strengths .wrapper .layer-01{
  top: 45%;
  left: 6.5vw;
  width: 55vw;
  height: 80vh;
}
#strengths .wrapper .layer-01 h6{}
#strengths .wrapper .layer-01 h2{
  width: 22vw;
}
#strengths .wrapper .layer-01 h3{}
#strengths .wrapper .layer-01 .content{
  margin-left: -0.5vw;
}
#strengths .wrapper .layer-01 .content .item{
  margin: 0 0.5vw 3vh;
  padding: 5vh 2.5vw;
  width: 25vw;
  text-align: right;
  border-radius: 2vw;
  background-color: transparent;
  cursor: pointer;
  transition: all .5s;
}
#strengths .wrapper .layer-01 .content .item:hover,
#strengths .wrapper .layer-01 .content .item.active{
  background-color: #133ED8;
  transition: all .5s;
}
#strengths .wrapper .layer-01 .content .item h5{
  width: 20%;
}
#strengths .wrapper .layer-01 .content .item:hover h5,
#strengths .wrapper .layer-01 .content .item.active h5{
  color: #FBF9F9;
}
#strengths .wrapper .layer-01 .content .item h4{
  width: 78%;
}
#strengths .wrapper .layer-01 .content .item:hover h4,
#strengths .wrapper .layer-01 .content .item.active h4{
  color: #FBF9F9;
}
#strengths .wrapper .layer-01 .content .item hr{}
#strengths .wrapper .layer-01 .content .item:hover hr,
#strengths .wrapper .layer-01 .content .item.active hr{
  background-color: #FBF9F9;
}
#strengths .wrapper .layer-01 .content .item p{
  float: right;
  width: 88%;
}
#strengths .wrapper .layer-01 .content .item:hover p,
#strengths .wrapper .layer-01 .content .item.active p{
  color: #FBF9F9;
}
#strengths .wrapper .layer-02{
  top: 55%;
  right: 4vw;
  width: 31vw;
  height: 80vh;
}
#strengths .wrapper .layer-02 img{
  width: 80%;
}
#strengths .wrapper .layer-02 img.image-01{
  top: 46%;
  right: 8%;
}
#strengths .wrapper .layer-02 img.image-02{
  top: 48%;
  right: 4%;
}
#strengths .wrapper .layer-02 img.image-03{}
#strengths .wrapper .layer-02 img.image-04{
  top: 52%;
  left: 4%;
}
/* ----- End Desktop ----- */
/* ----- Mobile ----- */
@media screen and (max-width: 846px){}
/* ----- End Mobile ----- */
/* =============================================================== */
/*                  End Section Strengths                          */
/* =============================================================== */





/* =============================================================== */
/*                  Section Employees                              */
/* =============================================================== */
/* ----- Desktop ----- */
#employees{}
#employees .wrapper{}
#employees .wrapper .ornt.orange500{
  top: -5vh;
  left: 93vw;
  width: 5vw;
  height: 5vw;
  border: 0.15vw solid #FF7300;
}
#employees .wrapper .ornt.orange500.second{
  top: 75vh;
  left: -1vw;
  width: 5vw;
  height: 5vw;
  border: 0.15vw solid #FF7300;
}
#employees .wrapper .ornt.navy100s{
  top: 85vh;
  left: 4vw;
  width: 5vw;
  height: 5vw;
}
#employees .wrapper .layer-01{
  left: 6.5vw;
  width: 25vw;
}
#employees .wrapper .layer-02{
  top: 53%;
  right: 6.5vw;
  width: 49vw;
}
#employees .wrapper .layer-02 .item{
  padding: 4vh 2.5vw;
  border-radius: 2vw;
}
#employees .wrapper .layer-02 .item h5{
  margin-right: 2vw;
  padding-bottom: 1vh;
  width: 5vw;
}
#employees .wrapper .layer-02 .item h5::after{
  content: '';
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1vh;
  background-color: #FBF9F9;
}
#employees .wrapper .layer-02 .item h4{
  margin-right: 2vw;
  width: 10vw;
}
#employees .wrapper .layer-02 .item h6{
  margin-right: 2vw;
  width: 15vw;
}
#employees .wrapper .layer-02 .item .icon{
  width: 7vw;
}
/* ----- End Desktop ----- */
/* ----- Mobile ----- */
@media screen and (max-width: 846px){}
/* ----- End Mobile ----- */
/* =============================================================== */
/*                  End Section Employees                          */
/* =============================================================== */





/* =============================================================== */
/*                  Section Tools                                  */
/* =============================================================== */
/* ----- Desktop ----- */
#tools{}
#tools .wrapper{}
#tools .wrapper .ornt.navy100s{
  top: 15vh;
  left: 87vw;
  width: 3vw;
  height: 3vw;
}
#tools .wrapper .ornt.orange500{
  top: 50vh;
  left: -0.5vw;
  width: 3vw;
  height: 3vw;
  border: 0.15vw solid #FF7300;
}
#tools .wrapper .layer-01{
  margin: 15vh auto 10vh;
  width: 90vw;
}
#tools .wrapper .item{
  margin: 0 2vw;
  padding: 6vh 3.5vw;
  width: 38vw;
  height: 62vh;
  border-radius: 2vw;
  overflow: hidden;
}
#tools .wrapper .item .logo{
  width: 100%;
  height: 35vh;
}
#tools .wrapper .item .logo img{
  width: 20vw;
}
#tools .wrapper .item hr{
  margin: 2vh 0 4vh !important;
  height: 0.5vh !important;
}
#tools .wrapper .item h3{}
/* ----- End Desktop ----- */
/* ----- Mobile ----- */
@media screen and (max-width: 846px){}
/* ----- End Mobile ----- */
/* =============================================================== */
/*                  End Section Tools                              */
/* =============================================================== */





/* =============================================================== */
/*                  Section Credentials                            */
/* =============================================================== */
/* ----- Desktop ----- */
#credentials{}
#credentials .wrapper{
  height: 135vh;
  overflow-x: hidden;
}
#credentials .wrapper .ornt.orange500{
  top: 32vh;
  left: 65vw;
  width: 3.5vw;
  height: 3.5vw;
  border-radius: 0.5vw;
  border: 0.15vw solid #FF7300;
}
#credentials .wrapper .ornt.navy100s{
  top: 38.5vh;
  left: 63vw;
  width: 2vw;
  height: 2vw;
  border-radius: 0.5vw;
}
#credentials .wrapper .layer-01{
  bottom: 8vh;
  width: 58vw;
  height: 85vh;
}
#credentials .wrapper .layer-01 h6{}
#credentials .wrapper .layer-01 h2{
  width: 22vw;
}
#credentials .wrapper .layer-01 .content{
  width: 112vw;
}
#credentials .wrapper .layer-01 .content .item{
  margin-right: 2vw;
  width: 20vw;
  height: 20vw;
  border-radius: 2vw;
}
#credentials .wrapper .layer-01 .content .item .icon{
  width: 17vw;
}
#credentials .wrapper .layer-01 .content .item h3{
  width: 13vw;
}
#credentials .wrapper .layer-01 .compArrow{
  position: absolute;
  top: 10vh;
  right: 4vw;
}
#credentials .wrapper .layer-01 .compDots{
  position: absolute;
  top: 75vh;
  right: 6.5vw;
  width: 51.5vw;
}
#credentials .wrapper .layer-01 .compDots span{
  display: inline-block;
  margin-right: 0.5vw;
  width: 0.8vw;
  height: 0.8vw;
  border-radius: 50vw;
  background-color: #C3C8D0;
}
#credentials .wrapper .layer-01 .compDots span.active{
  width: 47vw;
  background-color: #9BA4B0;
}
/* ----- End Desktop ----- */
/* ----- Mobile ----- */
@media screen and (max-width: 846px){}
/* ----- End Mobile ----- */
/* =============================================================== */
/*                  End Section Credentials                        */
/* =============================================================== */





/* =============================================================== */
/*                  Section Timeline                               */
/* =============================================================== */
/* ----- Desktop ----- */
#timeline{}
#timeline .wrapper{}
#timeline .wrapper .layer-01{
  margin: 10vh auto 25vh;
  width: 90vw;
}
#timeline .wrapper .layer-02{
  margin-bottom: 15vh;
}
#timeline .wrapper .layer-02 .background{
  top: -15vh;
}
#timeline .wrapper .layer-02 .content{
  margin: 0 auto;
  padding: 10vh 10vw;
  width: 83vw;
  border-radius: 2vw;
  overflow: hidden;
}
#timeline .wrapper .layer-02 .content::before{
  content: '';
  display: block;
  position: absolute;
  z-index: 2;
  top: 10vh;
  left: 30.4vw;
  width: 0.25vw;
  height: 178vh;
  background-color: #FF7300;
}
#timeline .wrapper .layer-02 .content .bg-white{
  opacity: 0.7;
}
#timeline .wrapper .layer-02 .content .item{}
#timeline .wrapper .layer-02 .content .item .left{
  width: 23%;
}
#timeline .wrapper .layer-02 .content .item .right{
  padding-left: 15%;
  width: 76%;
}
#timeline .wrapper .layer-02 .content .item .right::before{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 19.9vw;
  width: 1.2vw;
  height: 1.2vw;
  border-radius: 50vw;
  background-color: #FF7300;
}
#timeline .wrapper .layer-02 .content .item .right .wrap{}
#timeline .wrapper .layer-02 .content .item .right .wrap .logo{
  margin-right: 1vw;
  width: 28%;
}
/* ----- End Desktop ----- */
/* ----- Mobile ----- */
@media screen and (max-width: 846px){}
/* ----- End Mobile ----- */
/* =============================================================== */
/*                  End Section Timeline                           */
/* =============================================================== */





/* =============================================================== */
/*                  Section Commitment                             */
/* =============================================================== */
/* ----- Desktop ----- */
#commitment{}
#commitment .wrapper{
  overflow: hidden;
}
#commitment .wrapper .ornt.navy300s{
  top: 0;
  left: 75vw;
  width: 7vw;
  height: 7vw;
}
#commitment .wrapper .ornt.orange500{
  top: 22vh;
  left: 50vw;
  width: 3.5vw;
  height: 3.5vw;
  border-radius: 0.5vw;
  border: 0.15vw solid #FF7300;
}
#commitment .wrapper .ornt.navy100s{
  top: 28.5vh;
  left: 53.5vw;
  width: 2vw;
  height: 2vw;
  border-radius: 0.5vw;
}
#commitment .wrapper .ornt.orange400{
  top: 37vh;
  left: 70vw;
  width: 30vw;
  height: 15vh;
  border-radius: 1.5vw;
  border: 0.15vw solid #FF8F33;
}
#commitment .wrapper .ornt.navy300s.second{
  top: 52vh;
  left: 40vw;
  width: 2vw;
  height: 2vw;
}
#commitment .wrapper .ornt.orange600s{
  top: 91.5vh;
  left: 95.5vw;
  width: 3.4vw;
  height: 7vw;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#commitment .wrapper .ornt.navy700{
  top: 106.5vh;
  left: 91.5vw;
}
#commitment .wrapper .ornt.orange500.second{
  top: 155vh;
  left: -1vw;
  width: 5vw;
  height: 5vw;
  border: 0.15vw solid #FF7300;
}
#commitment .wrapper .ornt.navy100s.second{
  top: 165vh;
  left: 4vw;
  width: 5vw;
  height: 5vw;
}
#commitment .wrapper .ornt.navy600s{
  padding: 8vh 5vw;
  top: 65vh;
  right: 0;
  width: 58vw;
  height: auto;
  border-top-left-radius: 2vw;
  border-bottom-left-radius: 2vw;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#commitment .wrapper .ornt.navy600s h6.font-white.Body-Text:after{background-color: #FBF9F9;}
#commitment .wrapper .layer-02{}
#commitment .wrapper .layer-02 .item{}
#commitment .wrapper .layer-02 .item .left{
  width: 41%;
}
#commitment .wrapper .layer-02 .item .left h3{}
#commitment .wrapper .layer-02 .item .right{
  padding: 5vh 5vw;
  width: 58.7%;
}
#commitment .wrapper .layer-02 .item .right h5{
  margin-right: 2vw;
  padding-bottom: 1vh;
  width: 5vw;
}
#commitment .wrapper .layer-02 .item .right h5::after{
  content: '';
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1vh;
  background-color: #1A1B1C;
}
#commitment .wrapper .layer-02 .item .right .brief{
  margin-bottom: 5vh;
  width: 80%;
}
#commitment .wrapper .layer-02 .item .right .brief h4{}
#commitment .wrapper .layer-02 .item .right .brief p{}
/* ----- End Desktop ----- */
/* ----- Mobile ----- */
@media screen and (max-width: 846px){}
/* ----- End Mobile ----- */
/* =============================================================== */
/*                  End Section Commitment                         */
/* =============================================================== */





/* =============================================================== */
/*                  Section Portfolio                              */
/* =============================================================== */
/* ----- Desktop ----- */
#portfolio{}
#portfolio .wrapper{
  overflow: hidden;
  height: 111vh;
}
#portfolio .wrapper .ornt.navy300s{
  top: 10vh;
  left: 43vw;
  width: 3.5vw;
  height: 3.5vw;
  border-radius: 0.5vw;
}
#portfolio .wrapper .ornt.orange500{
  top: 16.4vh;
  left: 40.9vw;
  width: 2.2vw;
  height: 2.2vw;
  border: 0.15vw solid #FF7300;
}
#portfolio .wrapper .background{}
#portfolio .wrapper .layer-01{
  margin: 15vh auto 8vh;
  width: 87vw;
}
#portfolio .wrapper .layer-01 h6{}
#portfolio .wrapper .layer-01 h2{
  width: 25vw;
}
#portfolio .wrapper .layer-02{
  margin: 0 0 15vh 5%;
  width: 95.5%;
}
#portfolio .wrapper .layer-02 .content{
  width: 165vw;
}
#portfolio .wrapper .layer-02 .content .item{
  margin: 0 1vw;
  padding: 5vh 2.5vw;
  width: 25vw;
  height: 25vw;
  border-radius: 2vw;
  overflow: hidden;
}
#portfolio .wrapper .layer-02 .content .item .image{}
#portfolio .wrapper .layer-02 .content .item .background{}
#portfolio .wrapper .layer-02 .content .item .logo{}
#portfolio .wrapper .layer-02 .content .item:hover .logo{}
#portfolio .wrapper .layer-02 .content .item h3{top: 70%;}
#portfolio .wrapper .layer-02 .content .item:hover h3{}
#portfolio .wrapper .layer-02 .content .item h4{top: 80%;}
#portfolio .wrapper .layer-02 .content .item:hover h4{}
#portfolio .wrapper .layer-02 .content .item h5{display: none;}
#portfolio .wrapper .layer-02 .content .item a{display: none;}
#portfolio .wrapper .layer-02 .compArrow{
  position: absolute;
  top: -17vh;
  right: 4vw;
}
#portfolio .wrapper .layer-02 .compDots{
  position: absolute;
  top: 55vh;
  left: 1.5vw;
  width: 86vw;
}
#portfolio .wrapper .layer-02 .compDots span{}
#portfolio .wrapper .layer-02 .compDots span.active{
  width: 82vw;
}
/* ----- End Desktop ----- */
/* ----- Mobile ----- */
@media screen and (max-width: 846px){}
/* ----- End Mobile ----- */
/* =============================================================== */
/*                  End Section Portfolio                          */
/* =============================================================== */





/* =============================================================== */
/*                  Section Gallery                                */
/* =============================================================== */
/* ----- Desktop ----- */
#gallery{}
#gallery .wrapper{}
#gallery .wrapper .background{}
#gallery .wrapper .layer-01{
  top: 30vh;
  transform: unset;
  width: 90vw;
}
#gallery .wrapper .layer-01 img{}
/* ----- End Desktop ----- */
/* ----- Mobile ----- */
@media screen and (max-width: 846px){}
/* ----- End Mobile ----- */
/* =============================================================== */
/*                  End Section Gallery                            */
/* =============================================================== */




