*,
::before,
::after{
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}
html,
:host{
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
  tab-size: 4; /* 3 */
  font-family: Museo Sans Cyrl, Trebuchet MS, Arial, Helvetica, Circe, Calibri, Segoe UI, system-ui, sans-serif; /* 4 */
  font-feature-settings: normal; /* 5 */
  font-variation-settings: normal; /* 6 */
  -webkit-tap-highlight-color: transparent; /* 7 */
}
body{
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}
.my-\[160px\]{
  margin-top: 160px;
  margin-bottom: 160px;
}
.container{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.grid{display: grid;}
.grid-cols-1{grid-template-columns: repeat(1, minmax(0, 1fr));}
.grid-cols-12{grid-template-columns: repeat(12, minmax(0, 1fr));}
.grid-flow-dense{grid-auto-flow: dense;}
.gap-x-5{
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;}
.gap-y-\[60px\]{row-gap: 60px;}
.col-span-12{grid-column: span 12 / span 12;}
.order-last{order: 9999;}
.order-first{order: -9999;}
.group:hover .group-hover\:translate-x-0{
  --tw-translate-x: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.group:hover .group-hover\:pl-5{padding-left: 1.25rem;}
html.no-touch .group:hover .no-touch\:group-hover\:translate-x-full{
  --tw-translate-x: 100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
html.no-touch .group:hover .no-touch\:group-hover\:text-stone-300{
  --tw-text-opacity: 1;
  color: rgb(196 196 196 / var(--tw-text-opacity));
}
.col-span-1{grid-column: span 1 / span 1;}
.transition-colors{
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.relative{position: relative;}
.border-b{border-bottom-width: 1px;}
.border-stone-300{
  --tw-border-opacity: 1;
  border-color: rgb(196 196 196 / var(--tw-border-opacity));
}
.block{display: block;}
.absolute{position: absolute;}
.w-full{width: 100%;}
.-bottom-px{bottom: -1px;}
.h-px{height: 1px;}
.bg-gray-700{
  --tw-bg-opacity: 1;
  background-color: rgb(55 71 79 / var(--tw-bg-opacity));
}
.text-balance{text-wrap: balance;}
.tracking-\[-\.36px\]{letter-spacing: -.36px;}
.text-pretty{text-wrap: pretty;}
.\[\&_\.swiper-slide\]\:\!w-\[calc\(100vw-60px\)\] .swiper-slide{width: calc(100vw - 60px) !important;}
.md\:\[\&_\.swiper-slide\]\:\!w-\[calc\(33\.3333\%\)\] .swiper-slide{width: calc(33.3333%) !important;}
.md\:\[\&_\.swiper-slide\]\:\!w-\[calc\(41\.66\%\)\] .swiper-slide{width: calc(41.66%) !important;}
.rounded-lg{border-radius: 0.5rem;}
.overflow-hidden{overflow: hidden;}
.bg-cover{background-size: cover;}
.bg-center{background-position: center;}
.aspect-\[5\/6\]{aspect-ratio: 5/6;}
.bg-gray-300{
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity));
}
.bg-no-repeat{background-repeat: no-repeat;}
.md\:col-span-5{grid-column: span 5 / span 5;}
.md\:col-span-7{grid-column: span 7 / span 7;}
.md\:pr-10{padding-right: 2.5rem;}
.md\:order-first{order: -9999;}
.md\:order-last{order: 9999;}
.md\:tracking-\[-\.8px\]{letter-spacing: -.8px;}
.group:hover .md\:group-hover\:z-20{z-index: 20;}
.group:hover .md\:group-hover\:pr-5{padding-right: 1.25rem;}
.group:hover .md\:group-hover\:opacity-100{opacity: 1;}
.group:hover .md\:group-hover\:drop-shadow-\[0_5px_5px_\#37474F\]{
  --tw-drop-shadow: drop-shadow(0 5px 5px #37474F);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.lg\:gap-y-\[80px\]{row-gap: 80px;}
.lg\:grid-cols-2{grid-template-columns: repeat(2, minmax(0, 1fr));}